schemas/JPK_ST(1).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by CIRF (CENTRUM INFORMATYKI RESORTU FINANSOW) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/" xmlns:kus="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/KodyUrzedowSkarbowych/" xmlns:tns="http://jpk.mf.gov.pl/wzor/2024/11/26/11262/" targetNamespace="http://jpk.mf.gov.pl/wzor/2024/11/26/11262/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/DefinicjeTypy/StrukturyDanych_v10-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/KodyUrzedowSkarbowych/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/01/05/eD/KodyUrzedowSkarbowych/KodyUrzedowSkarbowych_v8-0E.xsd"/>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JPK_ST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TCelZlozenia">
		<xsd:annotation>
			<xsd:documentation>Określenie celu złożenia JPK</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>złożenie JPK na żądanie</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>złożenie JPK po raz pierwszy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>złożenie korekty JPK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek JPK_ST</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="JPK_ST (1)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-2"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia" type="tns:TCelZlozenia"/>
			<xsd:element name="DataWytworzeniaJPK" type="etd:TDataCzas">
				<xsd:annotation>
					<xsd:documentation>Data i czas wytworzenia pliku JPK_ST</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataOd" type="etd:TData">
				<xsd:annotation>
					<xsd:documentation>Data początkowa okresu, którego dotyczy JPK_ST</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataDo" type="etd:TData">
				<xsd:annotation>
					<xsd:documentation>Data końcowa okresu, którego dotyczy JPK_ST</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="kus:TKodUS">
				<xsd:annotation>
					<xsd:documentation>Kod urzędu skarbowego właściwego dla siedziby podatnika</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TAdresEmail">
		<xsd:annotation>
			<xsd:documentation>Adres poczty elektronicznej</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="(.)+@(.)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna 18 znaków max, w tym 2 znaki po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNabycia">
		<xsd:annotation>
			<xsd:documentation>Typ sposobów nabycia</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>umowa sprzedaży</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>darowizna</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:documentation>wkład niepieniężny</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="W">
				<xsd:annotation>
					<xsd:documentation>wytworzenie</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>faktura VAT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>inne</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNaturalnyJPK">
		<xsd:annotation>
			<xsd:documentation>Liczby naturalne większe od zera</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TNaturalny">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNumerKSeF">
		<xsd:annotation>
			<xsd:documentation>Numer identyfikujący fakturę w Krajowym Systemie e-Faktur (KSeF)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="([1-9]((\d[1-9])|([1-9]\d))\d{7}|M\d{9}|[A-Z]{3}\d{7})-(20[2-9][0-9]|2[1-9][0-9]{2}|[3-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])-([0-9A-F]{6})-?([0-9A-F]{6})-([0-9A-F]{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TMetodaAmortyzacji">
		<xsd:annotation>
			<xsd:documentation>Metody amortyzacji</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>degresywna</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:documentation>liniowa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="J">
				<xsd:annotation>
					<xsd:documentation>jednorazowa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>inna</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="X">
				<xsd:annotation>
					<xsd:documentation>brak amortyzacji</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TWykreslenie">
		<xsd:annotation>
			<xsd:documentation>Przyczyny wykreślenia z ewidencji</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>sprzedaż</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="X">
				<xsd:annotation>
					<xsd:documentation>stwierdzenie niedoboru</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="K">
				<xsd:annotation>
					<xsd:documentation>kradzież</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>darowizna</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:documentation>wkład niepieniężny</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>inne</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnacznikST">
		<xsd:annotation>
			<xsd:documentation>Typ ewidencji/wykazu środków trwałych</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Wykaz środków trwałych dla podmiotów prowadzących ewidencję przychodów EWP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Ewidencja środków trwałych dla podmiotów prowadzących podatkową księgę przychodów i rozchodów PKPIR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowyJPK">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 256 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowy512">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 512 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej">
		<xsd:annotation>
			<xsd:documentation>Podstawowy zestaw danych identyfikacyjnych o osobie niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NIP" type="etd:TNrNIP">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PelnaNazwa">
				<xsd:annotation>
					<xsd:documentation>Pełna nazwa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TPodmiotDowolnyBezAdresu">
		<xsd:annotation>
			<xsd:documentation>Skrócony zestaw danych o osobie fizycznej lub niefizycznej z identyfikatorem NIP</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="OsobaFizyczna">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="etd:TIdentyfikatorOsobyFizycznej2">
							<xsd:sequence minOccurs="0">
								<xsd:element name="Email" type="tns:TAdresEmail" minOccurs="0"/>
								<xsd:element name="Telefon" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Numer telefonu kontaktowego</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OsobaNiefizyczna">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:TIdentyfikatorOsobyNiefizycznej">
							<xsd:sequence minOccurs="0">
								<xsd:element name="Email" type="tns:TAdresEmail" minOccurs="0"/>
								<xsd:element name="Telefon" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Numer telefonu kontaktowego</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="JPK">
		<xsd:annotation>
			<xsd:documentation>Jednolity plik kontrolny dla ewidencji/wykazu środków trwałych oraz wartości niematerialnych i prawnych</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek JPK_ST</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TPodmiotDowolnyBezAdresu">
								<xsd:sequence>
									<xsd:element name="ZnacznikST" type="tns:TZnacznikST">
										<xsd:annotation>
											<xsd:documentation>Znacznik rodzaju prowadzonej ewidencji/wykazu środków trwałych</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Podatnik"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="EWP">
						<xsd:annotation>
							<xsd:documentation>Wykaz środków trwałych oraz wartości niematerialnych i prawnych dla podmiotów prowadzących ewidencję przychodów</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Wiersz" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="F_1" type="tns:TNaturalnyJPK">
												<xsd:annotation>
													<xsd:documentation>Lp.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:choice>
												<xsd:element name="F_2" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data nabycia/wytworzenia środka trwałego</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="F_3" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data nabycia wartości niematerialnej i prawnej lub zakończenia prac rozwojowych zaliczanych do wartości niematerialnych i prawnych</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:choice>
											<xsd:element name="F_4" type="etd:TData">
												<xsd:annotation>
													<xsd:documentation>Data przyjęcia środka trwałego lub wartości niematerialnej i prawnej do używania</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_5" type="tns:TZnakowyJPK" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Określenie numeru dokumentu, na podstawie którego przyjęto środek trwały lub WNiP</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_6" type="tns:TNabycia">
												<xsd:annotation>
													<xsd:documentation>Określenie rodzaju dokumentu stwierdzającego nabycie/wytworzenie</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_7" type="tns:TZnakowyJPK">
												<xsd:annotation>
													<xsd:documentation>Nazwa środka trwałego lub wartości niematerialnej i prawnej</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_8" type="tns:TZnakowyJPK" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Symbol klasyfikacji środków trwałych (KŚT)</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_9" type="etd:TProcentowy">
												<xsd:annotation>
													<xsd:documentation>Stawka amortyzacyjna podatkowa podstawowa</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_10" type="tns:TKwotowy">
												<xsd:annotation>
													<xsd:documentation>Wartość początkowa podatkowa w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="F_11" type="tns:TKwotowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Zaktualizowana wartość początkowa podatkowa w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:sequence minOccurs="0">
												<xsd:element name="F_12" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data likwidacji/zbycia/stwierdzenia niedoboru/kradzieży</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="F_13" type="tns:TWykreslenie">
													<xsd:annotation>
														<xsd:documentation>Przyczyna wykreślenia z wykazu</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="F_14" type="tns:TZnakowyJPK">
													<xsd:annotation>
														<xsd:documentation>Określenie numeru dokumentu stwierdzającego wykreślenie z wykazu</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="KSeF" minOccurs="0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="F_15" type="tns:TNumerKSeF" maxOccurs="unbounded">
																<xsd:annotation>
																	<xsd:documentation>Wskazanie numeru dokumentu KSeF stwierdzającego zbycie</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:element name="F_16" type="etd:TWybor1_2" default="2">
												<xsd:annotation>
													<xsd:documentation>Reklasyfikacja: 1 - TAK; 2 -  NIE</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PKPIR">
						<xsd:annotation>
							<xsd:documentation>Ewidencja środków trwałych oraz wartości niematerialnych i prawnych dla podmiotów prowadzących podatkową księgę przychodów i rozchodów</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence minOccurs="0">
								<xsd:element name="Wiersz" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="G_1" type="tns:TNaturalnyJPK">
												<xsd:annotation>
													<xsd:documentation>Lp.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:choice>
												<xsd:element name="G_2" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data nabycia/wytworzenia środka trwałego</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="G_3" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data nabycia wartości niematerialnej i prawnej lub zakończenia prac rozwojowych zaliczanych do wartości niematerialnych i prawnych</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:choice>
											<xsd:element name="G_4" type="etd:TData">
												<xsd:annotation>
													<xsd:documentation>Data przyjęcia środka trwałego lub wartości niematerialnej i prawnej do używania</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_5" type="tns:TZnakowyJPK" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Określenie numeru dokumentu, na podstawie którego przyjęto środek trwały lub WNiP</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_6" type="tns:TNabycia">
												<xsd:annotation>
													<xsd:documentation>Określenie rodzaju dokumentu stwierdzającego nabycie/wytworzenie</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_7" type="tns:TZnakowyJPK">
												<xsd:annotation>
													<xsd:documentation>Nazwa środka trwałego lub wartości niematerialnej i prawnej</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_8" type="tns:TZnakowyJPK" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Symbol klasyfikacji środków trwałych (KŚT)</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_9" type="tns:TMetodaAmortyzacji">
												<xsd:annotation>
													<xsd:documentation>Metoda amortyzacji</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_10" type="etd:TProcentowy">
												<xsd:annotation>
													<xsd:documentation>Stawka amortyzacyjna podatkowa podstawowa</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_11" type="etd:TProcentowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Stawka amortyzacyjna podatkowa po korekcie</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_12" type="tns:TKwotowy">
												<xsd:annotation>
													<xsd:documentation>Wartość początkowa podatkowa w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_13" type="tns:TKwotowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Zaktualizowana wartość początkowa w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_14" type="tns:TKwotowy">
												<xsd:annotation>
													<xsd:documentation>Suma odpisów amortyzacyjnych podatkowych dla danego roku podatkowego w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_15" type="tns:TKwotowy">
												<xsd:annotation>
													<xsd:documentation>Suma odpisów amortyzacyjnych podatkowych narastająco w całym okresie amortyzacji w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_16" type="tns:TKwotowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Zaktualizowana kwota odpisów amortyzacyjnych podatkowych w PLN</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="G_17" type="tns:TKwotowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Zmiana wartości początkowej podatkowej w PLN:
(+) zwiększenie;
(-) zmniejszenie</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:sequence minOccurs="0">
												<xsd:element name="G_18" type="etd:TData">
													<xsd:annotation>
														<xsd:documentation>Data likwidacji/zbycia/stwierdzenia niedoboru/kradzieży</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="G_19" type="tns:TWykreslenie">
													<xsd:annotation>
														<xsd:documentation>Przyczyna wykreślenia z ewidencji</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="G_20" type="tns:TZnakowyJPK">
													<xsd:annotation>
														<xsd:documentation>Określenie numeru dokumentu stwierdzającego wykreślenie z ewidencji</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="KSeF" minOccurs="0">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="G_21" type="tns:TNumerKSeF" maxOccurs="unbounded">
																<xsd:annotation>
																	<xsd:documentation>Wskazanie numeru dokumentu KSeF stwierdzającego zbycie</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:element name="G_22" type="etd:TWybor1_2" default="2">
												<xsd:annotation>
													<xsd:documentation>Reklasyfikacja: 1 - TAK; 2 -  NIE</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>